.nav {
  background-color: var(--ds-color-neutral-background-default);
  border-bottom: 1px solid var(--ds-color-neutral-border-subtle);
}

.list {
  display: flex;
  list-style: none;
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 0;
}

.list > li {
  flex: 1;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--ds-size-2);
  padding: var(--ds-size-3) var(--ds-size-4);
  text-decoration: none;
  color: var(--ds-color-neutral-text-subtle);
  border-bottom: 2px solid transparent;
}

.link:hover {
  color: var(--ds-color-neutral-text-default);
}

.active,
.active:hover {
  color: var(--ds-color-base-default);
  border-bottom-color: var(--ds-color-base-default);
}
